In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./data_src/DelayedFlights.csv", nrows=10000)

In [3]:
df = df.drop("Unnamed: 0", axis=1)

In [4]:
df.sample(frac = 1) ## Shufflea el data frama frac=1 --> 100% de las filas

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
9468,2008,1,10,4,1428.0,1405,1648.0,1630,WN,1760,...,4.0,9.0,0,N,0,3.0,0.0,0.0,0.0,15.0
1921,2008,1,4,5,2058.0,2035,2101.0,2040,WN,1143,...,6.0,6.0,0,N,0,21.0,0.0,0.0,0.0,0.0
5051,2008,1,6,7,1432.0,1425,1549.0,1535,WN,10,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3502,2008,1,5,6,1624.0,1600,1902.0,1905,WN,2380,...,5.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
4700,2008,1,5,6,2129.0,1620,2246.0,1750,WN,1924,...,4.0,17.0,0,N,0,138.0,0.0,0.0,0.0,158.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1527,2008,1,3,4,1752.0,1730,1920.0,1855,WN,3159,...,4.0,13.0,0,N,0,0.0,0.0,3.0,0.0,22.0
7989,2008,1,8,2,1840.0,1830,1929.0,1925,WN,50,...,3.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5683,2008,1,6,7,906.0,900,1022.0,1020,WN,1486,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
6169,2008,1,6,7,1631.0,1555,2026.0,2005,WN,891,...,8.0,5.0,0,N,0,2.0,0.0,0.0,0.0,19.0
9863,2008,1,10,4,1800.0,1735,2101.0,2035,WN,1410,...,2.0,16.0,0,N,0,21.0,0.0,1.0,0.0,4.0

## Filtrado de DF usando Pandas

In [5]:
# Ver una cierta columna del DF:

df.ArrDelay

0      -14.0
1        2.0
2       14.0
3       34.0
4       11.0
        ...
9995    -1.0
9996     8.0
9997     9.0
9998    15.0
9999    31.0
Name: ArrDelay, Length: 10000, dtype: float64

In [6]:
# Filtrar las filas de 0 a 10 del dataframe

df[0:10]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
5,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0

In [7]:
df[5:25]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
5,2008,1,3,4,1937.0,1830,2037.0,1940,WN,509,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
6,2008,1,3,4,706.0,700,916.0,915,WN,100,...,5.0,19.0,0,N,0,NaN,NaN,NaN,NaN,NaN
7,2008,1,3,4,1644.0,1510,1845.0,1725,WN,1333,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
8,2008,1,3,4,1029.0,1020,1021.0,1010,WN,2272,...,6.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9,2008,1,3,4,1452.0,1425,1640.0,1625,WN,675,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
10,2008,1,3,4,754.0,745,940.0,955,WN,1144,...,5.0,16.0,0,N,0,NaN,NaN,NaN,NaN,NaN
11,2008,1,3,4,1323.0,1255,1526.0,1510,WN,4,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
12,2008,1,3,4,1416.0,1325,1512.0,1435,WN,54,...,2.0,5.0,0,N,0,12.0,0.0,0.0,0.0,25.0
13,2008,1,3,4,1657.0,1625,1754.0,1735,WN,623,...,5.0,5.0,0,N,0,7.0,0.0,0.0,0.0,12.0
14,2008,1,3,4,1900.0,1840,1956.0,1950,WN,717,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
15,2008,1,3,4,1039.0,1030,1133.0,1140,WN,1244,...,2.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN
16,2008,1,3,4,1520.0,1455,1619.0,1605,WN,2553,...,2.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
17,2008,1,3,4,1422.0,1255,1657.0,1610,WN,188,...,6.0,6.0,0,N,0,40.0,0.0,0.0,0.0,7.0
18,2008,1,3,4,1954.0,1925,2239.0,2235,WN,1754,...,3.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
19,2008,1,3,4,2107.0,1945,2334.0,2230,WN,362,...,6.0,7.0,0,N,0,5.0,0.0,0.0,0.0,59.0
20,2008,1,3,4,1312.0,1300,1546.0,1550,WN,1397,...,7.0,7.0,0,N,0,NaN,NaN,NaN,NaN,NaN
21,2008,1,3,4,1449.0,1430,1715.0,1720,WN,3398,...,6.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
22,2008,1,3,4,1634.0,1555,1859.0,1845,WN,3480,...,5.0,6.0,0,N,0,NaN,NaN,NaN,NaN,NaN
23,2008,1,3,4,1812.0,1650,1927.0,1815,WN,422,...,6.0,11.0,0,N,0,3.0,0.0,0.0,0.0,69.0
24,2008,1,3,4,1127.0,1105,1235.0,1230,WN,1837,...,9.0,5.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [8]:
# Filtrar aquellas filas que cumplen cierta condición

df[(df["ArrDelay"]>240) & (df["DayOfWeek"]==6)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3619,2008,1,5,6,47.0,2040,151.0,2145,WN,505,...,5.0,8.0,0,N,0,3.0,0.0,0.0,0.0,243.0
4057,2008,1,5,6,2236.0,1805,2400.0,1930,WN,646,...,6.0,7.0,0,N,0,105.0,0.0,0.0,0.0,165.0
4598,2008,1,5,6,1558.0,1225,14.0,2010,WN,505,...,5.0,61.0,0,N,0,178.0,0.0,31.0,0.0,35.0
4638,2008,1,5,6,2243.0,1415,45.0,1625,WN,1684,...,2.0,19.0,0,N,0,66.0,0.0,0.0,0.0,434.0
4700,2008,1,5,6,2129.0,1620,2246.0,1750,WN,1924,...,4.0,17.0,0,N,0,138.0,0.0,0.0,0.0,158.0
4711,2008,1,5,6,1940.0,1220,2111.0,1350,WN,1684,...,5.0,22.0,0,N,0,269.0,0.0,1.0,0.0,171.0

In [9]:
df[(df.ArrDelay>240) & (df.DayOfWeek==6)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3619,2008,1,5,6,47.0,2040,151.0,2145,WN,505,...,5.0,8.0,0,N,0,3.0,0.0,0.0,0.0,243.0
4057,2008,1,5,6,2236.0,1805,2400.0,1930,WN,646,...,6.0,7.0,0,N,0,105.0,0.0,0.0,0.0,165.0
4598,2008,1,5,6,1558.0,1225,14.0,2010,WN,505,...,5.0,61.0,0,N,0,178.0,0.0,31.0,0.0,35.0
4638,2008,1,5,6,2243.0,1415,45.0,1625,WN,1684,...,2.0,19.0,0,N,0,66.0,0.0,0.0,0.0,434.0
4700,2008,1,5,6,2129.0,1620,2246.0,1750,WN,1924,...,4.0,17.0,0,N,0,138.0,0.0,0.0,0.0,158.0
4711,2008,1,5,6,1940.0,1220,2111.0,1350,WN,1684,...,5.0,22.0,0,N,0,269.0,0.0,1.0,0.0,171.0

In [10]:
# Otra forma de filtrado usando isin():

# Filas cuyo origen de vuelos son SFO o ATL o HOU

df[df.Origin.isin(["SFO","ATL","HOU"])]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1359,2008,1,3,4,2036.0,1925,2204.0,2055,WN,632,...,8.0,17.0,0,N,0,0.0,3.0,0.0,0.0,66.0
1360,2008,1,3,4,708.0,630,846.0,800,WN,643,...,8.0,23.0,0,N,0,38.0,0.0,8.0,0.0,0.0
1361,2008,1,3,4,1254.0,1110,1440.0,1240,WN,706,...,6.0,33.0,0,N,0,41.0,0.0,16.0,0.0,63.0
1362,2008,1,3,4,1516.0,1440,1646.0,1610,WN,1018,...,8.0,13.0,0,N,0,0.0,1.0,0.0,0.0,35.0
1363,2008,1,3,4,2059.0,1620,2216.0,1750,WN,1924,...,6.0,11.0,0,N,0,3.0,0.0,0.0,0.0,263.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9529,2008,1,10,4,2118.0,2055,2211.0,2145,WN,1410,...,4.0,9.0,0,N,0,0.0,0.0,3.0,0.0,23.0
9530,2008,1,10,4,1527.0,1505,1620.0,1600,WN,2436,...,3.0,13.0,0,N,0,0.0,0.0,0.0,0.0,20.0
9531,2008,1,10,4,1726.0,1715,1815.0,1810,WN,3321,...,3.0,11.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9532,2008,1,10,4,1937.0,1855,2234.0,2155,WN,45,...,4.0,17.0,0,N,0,33.0,0.0,0.0,0.0,6.0
9533,2008,1,10,4,1115.0,1105,1403.0,1405,WN,968,...,4.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN

In [11]:
# Muestrame los vuelos cuyo año no está informado

df[pd.isna(df.Year)]

Empty DataFrame
Columns: [Year, Month, DayofMonth, DayOfWeek, DepTime, CRSDepTime, ArrTime, CRSArrTime, UniqueCarrier, FlightNum, TailNum, ActualElapsedTime, CRSElapsedTime, AirTime, ArrDelay, DepDelay, Origin, Dest, Distance, TaxiIn, TaxiOut, Cancelled, CancellationCode, Diverted, CarrierDelay, WeatherDelay, NASDelay, SecurityDelay, LateAircraftDelay]
Index: []

[0 rows x 29 columns]

In [12]:
# Muestrame los vuelos cuyo ArrDelay no está informado

df[pd.isna(df.ArrDelay)]

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
1280,2008,1,3,4,922.0,915,NaN,1050,WN,1069,...,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN
1372,2008,1,3,4,2325.0,1900,NaN,2030,WN,2092,...,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN
1776,2008,1,4,5,1949.0,1905,NaN,1910,WN,1403,...,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN
1831,2008,1,4,5,737.0,705,NaN,825,WN,178,...,NaN,13.0,0,N,1,NaN,NaN,NaN,NaN,NaN
2244,2008,1,4,5,1849.0,1630,NaN,1755,WN,239,...,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN
2245,2008,1,4,5,1905.0,1855,NaN,2015,WN,298,...,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN
2720,2008,1,4,5,1721.0,1605,NaN,1655,WN,985,...,NaN,9.0,0,N,1,NaN,NaN,NaN,NaN,NaN
2831,2008,1,4,5,1837.0,1420,NaN,1540,WN,3513,...,NaN,6.0,0,N,1,NaN,NaN,NaN,NaN,NaN
3075,2008,1,4,5,1832.0,1755,NaN,1935,WN,1511,...,NaN,8.0,0,N,1,NaN,NaN,NaN,NaN,NaN
3179,2008,1,4,5,2226.0,2040,NaN,2150,WN,2285,...,NaN,17.0,0,N,1,NaN,NaN,NaN,NaN,NaN
3238,2008,1,4,5,1114.0,1055,NaN,1155,WN,2527,...,NaN,15.0,0,N,1,NaN,NaN,NaN,NaN,NaN
3924,2008,1,5,6,2013.0,1655,NaN,25,WN,156,...,NaN,9.0,0,N,1,NaN,NaN,NaN,NaN,NaN
3946,2008,1,5,6,1655.0,1350,NaN,1510,WN,185,...,NaN,13.0,0,N,1,NaN,NaN,NaN,NaN,NaN
4054,2008,1,5,6,1617.0,1400,NaN,1520,WN,2360,...,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN
4232,2008,1,5,6,1451.0,1435,NaN,1650,WN,1276,...,NaN,10.0,0,N,1,NaN,NaN,NaN,NaN,NaN
4422,2008,1,5,6,1629.0,1420,NaN,1540,WN,3513,...,NaN,5.0,0,N,1,NaN,NaN,NaN,NaN,NaN
4514,2008,1,5,6,1453.0,1430,NaN,1520,WN,736,...,NaN,6.0,0,N,1,NaN,NaN,NaN,NaN,NaN
4913,2008,1,5,6,1539.0,1455,NaN,1510,WN,1179,...,NaN,7.0,0,N,1,NaN,NaN,NaN,NaN,NaN
5159,2008,1,6,7,848.0,840,NaN,1140,WN,3141,...,NaN,12.0,0,N,1,NaN,NaN,NaN,NaN,NaN
5882,2008,1,6,7,932.0,925,NaN,1155,WN,151,...,NaN,6.0,0,N,1,NaN,NaN,NaN,NaN,NaN
5980,2008,1,6,7,2057.0,1900,NaN,2015,WN,3939,...,NaN,17.0,0,N,1,NaN,NaN,NaN,NaN,NaN
6842,2008,1,7,1,841.0,825,NaN,1045,WN,1241,...,NaN,21.0,0,N,1,NaN,NaN,NaN,NaN,NaN
6843,2008,1,7,1,803.0,700,NaN,925,WN,2787,...,NaN,10.0,0,N,1,NaN,NaN,NaN,NaN,NaN
7154,2008,1,7,1,1831.0,1805,NaN,1925,WN,154,...,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN
7442,2008,1,7,1,1426.0,1350,NaN,1810,WN,2703,...,NaN,11.0,0,N,1,NaN,NaN,NaN,NaN,NaN
7496,2008,1,7,1,1813.0,1755,NaN,1830,WN,490,...,NaN,9.0,0,N,1,NaN,NaN,NaN,NaN,NaN
7510,2008,1,7,1,1706.0,1615,NaN,1720,WN,166,...,NaN,6.0,0,N,1,NaN,NaN,NaN,NaN,NaN
8664,2008,1,9,3,1410.0,1350,NaN,1615,WN,813,...,NaN,8.0,0,N,1,NaN,NaN,NaN,NaN,NaN
9440,2008,1,10,4,1512.0,1430,NaN,1530,WN,33,...,NaN,22.0,0,N,1,NaN,NaN,NaN,NaN,NaN
9483,2008,1,10,4,1913.0,1205,NaN,1245,WN,1679,...,NaN,15.0,0,N,1,NaN,NaN,NaN,NaN,NaN
9639,2008,1,10,4,1849.0,1835,NaN,2345,WN,2208,...,NaN,5.0,0,N,1,NaN,NaN,NaN,NaN,NaN

In [13]:
df.isna().sum().sort_values(ascending=False)

LateAircraftDelay    4208
NASDelay             4208
WeatherDelay         4208
CarrierDelay         4208
SecurityDelay        4208
TaxiIn                 31
ArrTime                31
ActualElapsedTime      31
AirTime                31
ArrDelay               31
Distance                0
UniqueCarrier           0
Month                   0
DayofMonth              0
DayOfWeek               0
DepTime                 0
CRSDepTime              0
Diverted                0
CRSArrTime              0
FlightNum               0
Dest                    0
TailNum                 0
CancellationCode        0
CRSElapsedTime          0
Cancelled               0
TaxiOut                 0
DepDelay                0
Origin                  0
Year                    0
dtype: int64

In [14]:
df

,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,335,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,2008,1,3,4,754.0,735,1002.0,1000,WN,3231,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2008,1,3,4,628.0,620,804.0,750,WN,448,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,2008,1,3,4,1829.0,1755,1959.0,1925,WN,3920,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,2008,1,3,4,1940.0,1915,2121.0,2110,WN,378,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2008,1,10,4,1548.0,1540,1744.0,1745,WN,3402,...,5.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9996,2008,1,10,4,1839.0,1825,2038.0,2030,WN,3589,...,5.0,14.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9997,2008,1,10,4,800.0,750,1009.0,1000,WN,98,...,10.0,9.0,0,N,0,NaN,NaN,NaN,NaN,NaN
9998,2008,1,10,4,1910.0,1850,2110.0,2055,WN,390,...,3.0,13.0,0,N,0,0.0,0.0,0.0,0.0,15.0
9999,2008,1,10,4,1140.0,1100,1316.0,1245,WN,73,...,4.0,9.0,0,N,0,8.0,0.0,0.0,0.0,23.0

## Realizar transformaciones en DF usando Pandas

* Añadir columnas... quitar...
* Añadir filas... quitar...

In [16]:
# Generar una columna nueva que contenga el tiempo de retraso en horas y redondeado

df["HoursDelay"] = round(df["ArrDelay"]/60,1)

In [18]:
df[["ArrDelay","HoursDelay"]].head()

   ArrDelay  HoursDelay
0     -14.0        -0.2
1       2.0         0.0
2      14.0         0.2
3      34.0         0.6
4      11.0         0.2

In [19]:
# Eliminar dicha columna con 'del(···)'.
#
# del(···) sólo vale para eliminar UNA columna:

del(df["HoursDelay"])

In [24]:
# Eliminar varias columnas con .drop(···):

Colums_To_Drop = ["Diverted", "Cancelled", "Year"]

df.drop(Colums_To_Drop, axis=1, inplace=True)   # axis=1 --> Mira en las columnas
                                                # axis=0 --> Mira en las filas

# inplace=True es equivalente a hacer:
# df = df.drop(Colums_To_Drop, axis=1)

In [46]:
# Eliminar filas (también con .drop(···)):

# No pongo inplace=True / igual a df para que realmente no se borren

import numpy as np

Rows_To_Drop_ls = [1,2]
Rows_To_Drop_arr = np.array([1,2])
Rows_To_Drop_range = range(1,3)         # Recordar que range y np.arange nunca llega hasta el último digito....
Rows_To_Drop_arange = np.arange(1,3)


df.drop(Rows_To_Drop_arange, axis=0)

,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,FlightNum,TailNum,...,Dest,Distance,TaxiIn,TaxiOut,CancellationCode,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,1,3,4,2003.0,1955,2211.0,2225,WN,335,N712SW,...,TPA,810,4.0,8.0,N,NaN,NaN,NaN,NaN,NaN
3,1,3,4,1829.0,1755,1959.0,1925,WN,3920,N464WN,...,BWI,515,3.0,10.0,N,2.0,0.0,0.0,0.0,32.0
4,1,3,4,1940.0,1915,2121.0,2110,WN,378,N726SW,...,JAX,688,4.0,10.0,N,NaN,NaN,NaN,NaN,NaN
5,1,3,4,1937.0,1830,2037.0,1940,WN,509,N763SW,...,LAS,1591,3.0,7.0,N,10.0,0.0,0.0,0.0,47.0
6,1,3,4,706.0,700,916.0,915,WN,100,N690SW,...,MCO,828,5.0,19.0,N,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1,10,4,1548.0,1540,1744.0,1745,WN,3402,N227WN,...,OAK,671,5.0,14.0,N,NaN,NaN,NaN,NaN,NaN
9996,1,10,4,1839.0,1825,2038.0,2030,WN,3589,N695SW,...,OAK,671,5.0,14.0,N,NaN,NaN,NaN,NaN,NaN
9997,1,10,4,800.0,750,1009.0,1000,WN,98,N627SW,...,SJC,697,10.0,9.0,N,NaN,NaN,NaN,NaN,NaN
9998,1,10,4,1910.0,1850,2110.0,2055,WN,390,N324SW,...,SJC,697,3.0,13.0,N,0.0,0.0,0.0,0.0,15.0
9999,1,10,4,1140.0,1100,1316.0,1245,WN,73,N645SW,...,SMF,605,4.0,9.0,N,8.0,0.0,0.0,0.0,23.0

In [59]:
# Añadiendo filas al dataframe


# Defino un df con todos los vuelos de origen SFO
df_SFO = df[df.Origin=="SFO"]

# Defino un df con todos los vuelos de origen HOU
df_HOU = df[df.Origin=="HOU"]

# Si quiero añadir df_HOU por debajo de los registros de df_SFO:

df_SFOHOU = df_SFO.append(df_HOU)   # Esto podemos hacer pues ambos DF tienen la misma estructura de columnas

In [60]:
# Comprobamos:

df_SFOHOU.Origin.unique()

array(['SFO', 'HOU'], dtype=object)

### Empleando 'groupby' con pandas

Groupby nos ayuda a realizar Tablas de Frecuencias y Tablas con funciones de agregación...

In [64]:
# La sintaxis es sencilla:

# DataFrame.groupby(by=Variable_Dentro_DataFrame_Por_La_Que_Quiero_Agrupar)["Variable_Dentro_DataFrame_Que_Quiero_Observar"].función_de_agregacion()

# Si quiero ver el máximo valor de minutos de retraso de salida de los vuelos según el día de la semana:
#
# DataFrame: df
# Variable/s_Dentro_DataFrame_Por_La/s_Que_Quiero_Agrupar: DayOfWeek
# Variable/s_Dentro_DataFrame_Que_Quiero_Observar: ArrDelay
# función_de_agregación(): max()

df.groupby(by="DayOfWeek")["ArrDelay"].max()

DayOfWeek
1    383.0
2    156.0
3    250.0
4    304.0
5    238.0
6    500.0
7    229.0
Name: ArrDelay, dtype: float64

In [72]:
# La sintaxis es sencilla:

# DataFrame.groupby(by=Variable_Dentro_DataFrame_Por_La_Que_Quiero_Agrupar)["Variable_Dentro_DataFrame_Que_Quiero_Observar"].función_de_agregacion()

# Si quiero ver el número medio de minutos de retraso de salida de los vuelos según el destino:
#
# DataFrame: df
# Variable/s_Dentro_DataFrame_Por_La/s_Que_Quiero_Agrupar: Dest
# Variable/s_Dentro_DataFrame_Que_Quiero_Observar: ArrDelay
# función_de_agregación(): mean()

df.groupby(by="Dest")["ArrDelay"].mean()

Dest
ABQ    27.822967
ALB    27.250000
AMA    30.958333
AUS    21.214286
BDL    34.104167
         ...
SNA    25.848485
STL    24.675824
TPA    13.948113
TUL    29.634615
TUS    38.439024
Name: ArrDelay, Length: 64, dtype: float64

Las funciones de agregación más comunes (para variables numericas) son:

* .max()
* .min()
* .count()
* .sum()
* .mean()
* .stdev()

Y una MUY MUY interesante es .describe() para mostrar un resumen estadistico:

In [73]:
# Si quiero ver el resumen estadístico de los minutos de retraso de salida de los vuelos según el día de la semana:
#
# DataFrame: df
# Variable/s_Dentro_DataFrame_Por_Las_Que_Quiero_Agrupar: DayOfWeek
# Variable/s_Dentro_DataFrame_Que_Quiero_Observar: ArrDelay
# función_de_agregación(): describe()

df.groupby(by="DayOfWeek")["ArrDelay"].describe()

            count       mean        std   min   25%   50%   75%    max
DayOfWeek
1           988.0  30.458502  47.379189 -34.0  5.75  16.0  37.0  383.0
2           884.0  20.968326  25.851066 -19.0  5.00  14.0  29.0  156.0
3           658.0  17.689970  24.490695 -25.0  3.00  11.0  24.0  250.0
4          2367.0  28.261512  32.517445 -26.0  8.00  20.0  40.0  304.0
5          1739.0  31.617021  37.936102 -26.0  7.00  21.0  44.0  238.0
6          1498.0  37.232977  43.583669 -26.0  9.25  26.0  52.0  500.0
7          1835.0  28.533515  33.544650 -34.0  8.00  20.0  39.0  229.0

In [78]:
# Si quiero ver los valores medios de de los minutos de retraso (tanto en la salida como en la llegada) de los vuelos
# según el día de la semana:
#
# DataFrame: df
# Variable/s_Dentro_DataFrame_Por_Las_Que_Quiero_Agrupar: DayOfWeek
# Variable/s_Dentro_DataFrame_Que_Quiero_Observar: ArrDelay, DepDelay
# función_de_agregación(): mean()
#
#
# Importante siempre comparar cosas con sentido!!!

df.groupby(by="DayOfWeek")[["ArrDelay","DepDelay"]].mean()

            ArrDelay   DepDelay
DayOfWeek
1          30.458502  33.409457
2          20.968326  25.440045
3          17.689970  23.807284
4          28.261512  33.735245
5          31.617021  35.899314
6          37.232977  40.722924
7          28.533515  32.570185

#### Interesante en este punto:

El empleo de [groupby.agg](https://pandas.pydata.org/pandas-docs/version/0.23.1/generated/pandas.core.groupby.DataFrameGroupBy.agg.html)

### Operaciones con los objetos 'groupby':

In [80]:
# Si quiero ver el rango de minutos de retraso de salida de los vuelos según el día de la semana
#
# DataFrame: df
# Variable/s_Dentro_DataFrame_Por_Las_Que_Quiero_Agrupar: DayOfWeek
# Variable/s_Dentro_DataFrame_Que_Quiero_Observar: ArrDelay
# función_de_agregación(): max() - min()

df.groupby(by="DayOfWeek")["ArrDelay"].max() - df.groupby(by="DayOfWeek")["ArrDelay"].min()

DayOfWeek
1    417.0
2    175.0
3    275.0
4    330.0
5    264.0
6    526.0
7    263.0
Name: ArrDelay, dtype: float64

In [83]:
# Empleando el dataframe que contiene vuelos que salen de SFO y HOU quiere ver las medias de retraso de salida de los
# vuelos según día de la semana y aeropuerto de salida.
#
# DataFrame: df
# Variable/s_Dentro_DataFrame_Por_Las_Que_Quiero_Agrupar: DayOfWeek, Origin
# Variable/s_Dentro_DataFrame_Que_Quiero_Observar: ArrDelay
# función_de_agregación(): mean()
#
# MUY IMPORTANTE elegir bien el orden de variables dentro del by= pues el análisis será muy diferente :)

df_SFOHOU.groupby(by=["DayOfWeek","Origin"])["ArrDelay"].mean()

DayOfWeek  Origin
1          HOU        22.177778
           SFO        21.222222
2          HOU        18.904762
           SFO        72.470588
3          HOU        32.648649
           SFO        26.888889
4          HOU        19.166667
           SFO       107.187500
5          HOU        20.046512
           SFO        81.941176
6          HOU        17.250000
           SFO       160.466667
7          HOU        15.636364
           SFO        48.294118
Name: ArrDelay, dtype: float64

In [86]:
# Se pueden guardar objetos groupby a los que luego es más fácil aplicarles funciones de agregación.
#
# Si sé que realizaré muchos análisis del retraso de vuelos en su llegada por día de la semana puedo definir el objeto
# groupby sin función de agregación
#
# DataFrame: df
# Variable/s_Dentro_DataFrame_Por_Las_Que_Quiero_Agrupar: DayOfWeek, Origin
# Variable/s_Dentro_DataFrame_Que_Quiero_Observar: ArrDelay

mygroupby = df.groupby(by="DayOfWeek")["ArrDelay"]

In [88]:
# Luego puedo usar ese objeto 'mygroupby' para pasarle diferentes funciones de agregación:

mygroupby.mean()

DayOfWeek
1    30.458502
2    20.968326
3    17.689970
4    28.261512
5    31.617021
6    37.232977
7    28.533515
Name: ArrDelay, dtype: float64

In [90]:
mygroupby.max()

DayOfWeek
1    383.0
2    156.0
3    250.0
4    304.0
5    238.0
6    500.0
7    229.0
Name: ArrDelay, dtype: float64

## Gestionar información duplicada o información faltante en los dataframes

### Gestión de datos duplicados.

Salvo casos muy concretos, el procedimiento habitual de actuación es el de eliminar registros duplicados.

En este ejemplo forzaré el tener datos duplicados

In [127]:
# Cargo nuevamente df esta vez con 250.000 filas (que sabemos que no tienen datos repetidos)
df = df = pd.read_csv("./data_src/DelayedFlights.csv", nrows=250000)

In [128]:
# Genero un df_duplicate que sea una fracción del 20% de registros de df aleatoriamente escogidos

df_duplicate = df.sample(frac=0.2)

In [129]:
# Como df tenía 250.000 observaciones, df_duplicate deberá tener un 20% de estas = 50.000 observaciones. Comprobamos:
df_duplicate.shape

(50000, 30)

In [130]:
# Añadimos este df_duplicate por debajo de df

df = df.append(df_duplicate)
df.shape

(300000, 30)

Ya tenemos nuestro dataframe original (250K obs) + 50K duplicados. Comenzamos:

In [131]:
# Preguntamos a Pandas cuántas obs (filas) hay duplicadas en nuestro DataFrame

df.duplicated().sum()

50000

In [132]:
# El dato es coherente con nuestras 50K filas forzadas.

# Para eliminar duplicados es tan sencillo como usar DataFrame.drop_duplicates()

# Usamos inplace si queremos que la acción sea efectiva o no.

df.drop_duplicates(inplace=True)
df.shape

(250000, 30)

#### El poder de subset en .duplicated(subset=···, ···) o .drop_duplicates(subset=···, ···)

```subset=``` permite definir un conjunto, en este caso de columnas, donde buscar si hay duplicados bien para informar (.duplicated) o bien para borrar (.drop_duplicates)

In [133]:
# Sabemos que nuestro df ahora NO TIENE observaciones en las que TODAS sus variables se encuentran duplicadas:

df.duplicated().sum()

0

In [150]:
# Pero, ¿y si queremos saber cuantas observaciones tienen el 'FlightNum' repetido?
df.duplicated(subset="FlightNum").sum()

243007

In [153]:
# Y aquellos que tienen FlightNum+Origin+Dest repetido?
df.duplicated(subset=["FlightNum","Origin","Dest"]).sum()

218695

In [155]:
# Si ahora decidimos quedarnos con los no repetidos, nos queda un DataFrame de tan solo 31305 observaciones
df.drop_duplicates(subset=["FlightNum","Origin","Dest"])

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
0,0,2008,1,3,4,2003.0,1955,2211.0,2225,WN,...,4.0,8.0,0,N,0,NaN,NaN,NaN,NaN,NaN
1,1,2008,1,3,4,754.0,735,1002.0,1000,WN,...,5.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
2,2,2008,1,3,4,628.0,620,804.0,750,WN,...,3.0,17.0,0,N,0,NaN,NaN,NaN,NaN,NaN
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
4,5,2008,1,3,4,1940.0,1915,2121.0,2110,WN,...,4.0,10.0,0,N,0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249830,796818,2008,2,21,4,855.0,836,1021.0,950,OO,...,5.0,29.0,0,N,0,0.0,0.0,31.0,0.0,0.0
249832,796837,2008,2,21,4,904.0,815,1028.0,1008,OO,...,8.0,11.0,0,N,0,20.0,0.0,0.0,0.0,0.0
249891,797065,2008,2,21,4,1014.0,948,NaN,1335,OO,...,NaN,43.0,0,N,1,NaN,NaN,NaN,NaN,NaN
249894,797081,2008,2,21,4,1029.0,950,1320.0,1247,OO,...,9.0,28.0,0,N,0,0.0,0.0,0.0,0.0,33.0
249895,797082,2008,2,21,4,908.0,830,1012.0,920,OO,...,5.0,20.0,0,N,0,52.0,0.0,0.0,0.0,0.0

### Gestión de Datos Faltantes (una aproximación muy básica)

Aquí sólo hablaremos de eliminación de observaciones (aka registros, aka filas).

No se hablará del tema de imputación de valores.

In [209]:
# Cargo nuevamente df esta vez con 250.000 filas (que sabemos que no tienen datos repetidos)
df = df = pd.read_csv("./data_src/DelayedFlights.csv", nrows=250000)

In [210]:
# Analizamos cuántos datos hay faltantes por columna:

# Manera 1:
# df.info()

# Manera 2:
df.isna().sum()

Unnamed: 0               0
Year                     0
Month                    0
DayofMonth               0
DayOfWeek                0
DepTime                  0
CRSDepTime               0
ArrTime               1030
CRSArrTime               0
UniqueCarrier            0
FlightNum                0
TailNum                  0
ActualElapsedTime     1030
CRSElapsedTime          35
AirTime               1030
ArrDelay              1030
DepDelay                 0
Origin                   0
Dest                     0
Distance                 0
TaxiIn                1030
TaxiOut                  0
Cancelled                0
CancellationCode         0
Diverted                 0
CarrierDelay         85113
WeatherDelay         85113
NASDelay             85113
SecurityDelay        85113
LateAircraftDelay    85113
dtype: int64

#### Uso de dropna() para eliminar datos faltantes

In [211]:
# Si queremos eliminar todas las observaciones con al menos un NaN entre sus atributos:

df.dropna()

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,797319,2008,2,21,4,2134.0,1930,2246.0,2024,OO,...,20.0,12.0,0,N,0,0.0,0.0,142.0,0.0,0.0
249996,797320,2008,2,21,4,1841.0,1755,1930.0,1854,OO,...,1.0,17.0,0,N,0,0.0,0.0,0.0,0.0,36.0
249997,797323,2008,2,21,4,712.0,615,804.0,701,OO,...,4.0,6.0,0,N,0,0.0,63.0,0.0,0.0,0.0
249998,797327,2008,2,21,4,1106.0,1045,1205.0,1148,OO,...,4.0,7.0,0,N,0,17.0,0.0,0.0,0.0,0.0
249999,797329,2008,2,21,4,1714.0,1654,1814.0,1757,OO,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,17.0

In [224]:
# Podemos también decirle a dropna que elimine observaciones con un cierto threshold.
#
# Entender threshold en dropna es un poco complicado. Lo intentaremos explicar.
#
# Para manejar el threshold es importante conocer primero el número total de columnas de nuestro dataframe.
# En nuestro caso: 30

# Ahora comenzamos a jugar con threshold en .dropna(···)

# df.dropna(thresh= total_columnas_dataframe - num_NaN_minimos_del_registro_a_eliminar + 1)

# Si queremos eliminar los registros que contengan 1 NaN o más:
df.dropna(thresh=30-1+1)

# Si queremos eliminar los registros que contengan 4 NaN o más:
df.dropna(thresh=30-4+1)

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,797319,2008,2,21,4,2134.0,1930,2246.0,2024,OO,...,20.0,12.0,0,N,0,0.0,0.0,142.0,0.0,0.0
249996,797320,2008,2,21,4,1841.0,1755,1930.0,1854,OO,...,1.0,17.0,0,N,0,0.0,0.0,0.0,0.0,36.0
249997,797323,2008,2,21,4,712.0,615,804.0,701,OO,...,4.0,6.0,0,N,0,0.0,63.0,0.0,0.0,0.0
249998,797327,2008,2,21,4,1106.0,1045,1205.0,1148,OO,...,4.0,7.0,0,N,0,17.0,0.0,0.0,0.0,0.0
249999,797329,2008,2,21,4,1714.0,1654,1814.0,1757,OO,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,17.0

In [228]:
# Usando subset en dropna(···)

# Si queremos eliminar todas las filas que contienen NaN en la columna CarrierDelay entonces:

df.dropna(subset=["CarrierDelay"])

,Unnamed: 0,Year,Month,DayofMonth,DayOfWeek,DepTime,CRSDepTime,ArrTime,CRSArrTime,UniqueCarrier,...,TaxiIn,TaxiOut,Cancelled,CancellationCode,Diverted,CarrierDelay,WeatherDelay,NASDelay,SecurityDelay,LateAircraftDelay
3,4,2008,1,3,4,1829.0,1755,1959.0,1925,WN,...,3.0,10.0,0,N,0,2.0,0.0,0.0,0.0,32.0
5,6,2008,1,3,4,1937.0,1830,2037.0,1940,WN,...,3.0,7.0,0,N,0,10.0,0.0,0.0,0.0,47.0
7,11,2008,1,3,4,1644.0,1510,1845.0,1725,WN,...,6.0,8.0,0,N,0,8.0,0.0,0.0,0.0,72.0
9,16,2008,1,3,4,1452.0,1425,1640.0,1625,WN,...,7.0,8.0,0,N,0,3.0,0.0,0.0,0.0,12.0
11,18,2008,1,3,4,1323.0,1255,1526.0,1510,WN,...,4.0,9.0,0,N,0,0.0,0.0,0.0,0.0,16.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
249995,797319,2008,2,21,4,2134.0,1930,2246.0,2024,OO,...,20.0,12.0,0,N,0,0.0,0.0,142.0,0.0,0.0
249996,797320,2008,2,21,4,1841.0,1755,1930.0,1854,OO,...,1.0,17.0,0,N,0,0.0,0.0,0.0,0.0,36.0
249997,797323,2008,2,21,4,712.0,615,804.0,701,OO,...,4.0,6.0,0,N,0,0.0,63.0,0.0,0.0,0.0
249998,797327,2008,2,21,4,1106.0,1045,1205.0,1148,OO,...,4.0,7.0,0,N,0,17.0,0.0,0.0,0.0,0.0
249999,797329,2008,2,21,4,1714.0,1654,1814.0,1757,OO,...,4.0,8.0,0,N,0,0.0,0.0,0.0,0.0,17.0